writing/.htaccess
wp-*.php
xmlrpc.php
writing/wp-admin/
writing/wp-includes/
writing/wp-content/uploads/
writing/wp-content/plugins/
writing/wp-content/blogs.dir/
writing/wp-content/upgrade/*
writing/wp-content/backup-db/*
writing/wp-content/advanced-cache.php
writing/wp-content/wp-cache-config.php
writing/wp-content/cache/*
writing/wp-content/cache/supercache/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
bucket/
v2011/
dont-delete/
.DS_Store